.recommendation-image {
  position: relative;
}

.recommendation-image figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3rem;
}

.recommendation-image figcaption div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem;
}

.recommendation-image figcaption div span {
  position: absolute;
  right: 1.65rem;
  bottom: -1.65rem;
  background-color: #ff5959;

  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem 1.2rem;

  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.3);
}

.recommendation-image figcaption p {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.recommendation-image figcaption h2 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.choice-text {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0 0 0;
}
