@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
  min-height: 100%;
}

.App {
  max-width: 480px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #fafafa;
}

.container {
  padding: 3rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
